body {
  margin: 40px;
}

#hero {
  font-size: 16px;
  font-family: sans-serif;
  text-transform: uppercase;
}

#health {
  border: 2px solid black;
  height: 20px;
  width: 200px;
  margin-bottom: 10px;
}

.healthy {
  height: 100%;
  width: 100%;
  background-color: #00ff00;
}

.wounded {
  height: 100%;
  width: 50%;
  background-color: #ffff00;
}

.critical {
  height: 100%;
  width: 10%;
  background-color: #ff0000;
}
